
/* For browsers that support clamp  */
@supports (font-size: clamp(1rem, 1vi, 1rem)) {
    :root {
          --size-p: clamp(0.9rem, 0.2vi + 0.9rem, 1rem);
          --size-h5: clamp(1.1rem, 0.2vi + 1.1rem, 1.3rem);
          --size-h4: clamp(1.3rem, 0.4vi + 1.2rem, 1.6rem);
          --size-h3: clamp(1.5rem, 0.8vi + 1.3rem, 2rem);
          --size-h2: clamp(1.7rem, 1.3vi + 1.4rem, 2.4rem);
          --size-h1: clamp(2rem, 1.9vi + 1.5rem, 3.1rem);
    }
  }
  /* For browsers that don't support clamp */
  @supports not (font-size: clamp(1rem, 1vi, 1rem)) {
    :root {
          --size-p: 0.9rem;
          --size-h5: 1.1rem;
          --size-h4: 1.3rem;
          --size-h3: 1.5rem;
          --size-h2: 1.7rem;
          --size-h1: 2rem;
    }
    @media screen and (min-width: 1280px) {
      :root {
              --size-p: 1rem;
              --size-h5: 1.3rem;
              --size-h4: 1.6rem;
              --size-h3: 2rem;
              --size-h2: 2.4rem;
              --size-h1: 3.1rem;
      }
    }
  }