#iconoMenu {
    -webkit-mask: url(../images/iconos/menu.svg) no-repeat 50% 50%;
    mask: url(../images/iconos/menu.svg) no-repeat 50% 50%;
  }
#iconoMenuClose {
    -webkit-mask: url(../images/iconos/menuClose.svg) no-repeat 50% 50%;
    mask: url(../images/iconos/menuClose.svg) no-repeat 50% 50%;
}
#iconoColor {
    -webkit-mask: url(../images/iconos/color.svg) no-repeat 0px 50%;
    mask: url(../images/iconos/color.svg) no-repeat 0px 50%;
    width: 32px;
  }
  #iconoDark {
    -webkit-mask: url(../images/iconos/luna.svg) no-repeat 50% 50%;
    mask: url(../images/iconos/luna.svg) no-repeat 50% 50%;
  }
  #iconoLight {
    -webkit-mask: url(../images/iconos/sol.svg) no-repeat 50% 50%;
    mask: url(../images/iconos/sol.svg) no-repeat 50% 50%;
  }
  .flechaDown {
    -webkit-mask: url(../images/iconos/flechaDown.svg) no-repeat 50% 50%;
    mask: url(../images/iconos/flechaDown.svg) no-repeat 50% 50%;
  }
  .iconoLink {
    -webkit-mask: url(../images/iconos/link.svg) no-repeat 50% 50%;
    mask: url(../images/iconos/link.svg) no-repeat 50% 50%;
  }
  .iconoPdf {
    -webkit-mask: url(../images/iconos/pdf.svg) no-repeat 50% 50%;
    mask: url(../images/iconos/pdf.svg) no-repeat 50% 50%;
  }

.iconoAdobe {
    -webkit-mask: url(../images/iconos/adobe.svg) no-repeat 50% 50%;
    mask: url(../images/iconos/adobe.svg) no-repeat 50% 50%;
  }
.iconoFigma {
    -webkit-mask: url(../images/iconos/figma.svg) no-repeat 50% 50%;
    mask: url(../images/iconos/figma.svg) no-repeat 50% 50%;
}
.iconoStudioCode {
    -webkit-mask: url(../images/iconos/studio-code.svg) no-repeat 50% 50%;
    mask: url(../images/iconos/studio-code.svg) no-repeat 50% 50%;
}
.iconoHtml {
    -webkit-mask: url(../images/iconos/html.svg) no-repeat 50% 50%;
    mask: url(../images/iconos/html.svg) no-repeat 50% 50%;
}
.iconoCss {
    -webkit-mask: url(../images/iconos/css.svg) no-repeat 50% 50%;
    mask: url(../images/iconos/css.svg) no-repeat 50% 50%;
} 
.iconoJs {
    -webkit-mask: url(../images/iconos/javascript.svg) no-repeat 50% 50%;
    mask: url(../images/iconos/javascript.svg) no-repeat 50% 50%;
}
.iconoTailwind {
    -webkit-mask: url(../images/iconos/tailwind.svg) no-repeat 50% 50%;
    mask: url(../images/iconos/tailwind.svg) no-repeat 50% 50%;
}
.iconoBootstrap {
  -webkit-mask: url(../images/iconos/bootstrap.svg) no-repeat 50% 50%;
  mask: url(../images/iconos/bootstrap.svg) no-repeat 50% 50%;
}
.iconoPhp {
  -webkit-mask: url(../images/iconos/php.svg) no-repeat 50% 50%;
  mask: url(../images/iconos/php.svg) no-repeat 50% 50%;
}
.iconoResponsive {
  -webkit-mask: url(../images/iconos/responsive.svg) no-repeat 50% 50%;
  mask: url(../images/iconos/responsive.svg) no-repeat 50% 50%;
}
.iconoW3c {
  -webkit-mask: url(../images/iconos/w3c.svg) no-repeat 50% 50%;
  mask: url(../images/iconos/w3c.svg) no-repeat 50% 50%;
}
.iconoWordPress {
  -webkit-mask: url(../images/iconos/wordpress.svg) no-repeat 50% 50%;
  mask: url(../images/iconos/wordpress.svg) no-repeat 50% 50%;
}
.iconoJoomla {
  -webkit-mask: url(../images/iconos/joomla.svg) no-repeat 50% 50%;
  mask: url(../images/iconos/joomla.svg) no-repeat 50% 50%;
}
.iconoMailchimp {
  -webkit-mask: url(../images/iconos/mailchimp.svg) no-repeat 50% 50%;
  mask: url(../images/iconos/mailchimp.svg) no-repeat 50% 50%;
}

.iconoEmail {
    -webkit-mask: url(../images/iconos/Email.svg) no-repeat 50% 50%;
    mask: url(../images/iconos/Email.svg) no-repeat 50% 50%;
  }
  .iconoLinkedin {
    -webkit-mask: url(../images/iconos/Linkedin.svg) no-repeat 50% 50%;
    mask: url(../images/iconos/Linkedin.svg) no-repeat 50% 50%;
  }
  .iconoGithub {
    -webkit-mask: url(../images/iconos/Github.svg) no-repeat 50% 50%;
    mask: url(../images/iconos/Github.svg) no-repeat 50% 50%;
  }
  .iconoWhatsapp {
    -webkit-mask: url(../images/iconos/Whatsapp.svg) no-repeat 50% 50%;
    mask: url(../images/iconos/Whatsapp.svg) no-repeat 50% 50%;
  }
  .iconoCodepen {
    -webkit-mask: url(../images/iconos/codepen.svg) no-repeat 50% 50%;
    mask: url(../images/iconos/codepen.svg) no-repeat 50% 50%;
  }
  .iconoFlechaLink {
    -webkit-mask: url(../images/iconos/flechaLink.svg) no-repeat 50% 50%;
    mask: url(../images/iconos/flechaLink.svg) no-repeat 50% 50%;
  }
  .iconoUp {
    -webkit-mask: url(../images/iconos/ArrowUp.svg) no-repeat 50% 50%;
    mask: url(../images/iconos/ArrowUp.svg) no-repeat 50% 50%;
  }
