:root, :root.dark {
    --primary-light-00: #40a0f0;
    --primary-light-10: #82c0f7;
    --primary-light-20: #bddcfa;
    --primary-dark-00: #1785e0;
    --primary-dark-10: #0a66bd;
    --primary-dark-20: #09529b;
    --secondary-light-00: #a6a4d5;
    --secondary-light-10: #bfc1e2;
    --secondary-light-20: #d7d9ee;
    --secondary-dark-00: #938dc7;
    --secondary-dark-10: #8176b7;
    --secondary-dark-20: #6e639f;
    --neutral-light-00: #9094A0;
    --neutral-light-10: #D9DADE;
    --neutral-light-20: #F7F8F8;
    --neutral-dark-00: #5C606D;
    --neutral-dark-10: #41444B;
    --neutral-dark-20: #292A2F;
    --bg-color: #212026;
    --text-color: #ffffff;
    --black: #212026;
    --white: #ffffff;
    --gradient: linear-gradient(300deg, #a6a4d5 0%, #40a0f0 60%, #57cfff 100%);
    --gradient-color: #40a0f0;
    --highlight-color: #57cfff;
    }
:root.light {
    --primary-light-00: #1785e0;
    --primary-light-10: #0a66bd;
    --primary-light-20: #09529b;
    --primary-dark-00: #40a0f0;
    --primary-dark-10: #82c0f7;
    --primary-dark-20: #bddcfa;
    --secondary-light-00: #938dc7;
    --secondary-light-10: #8176b7;
    --secondary-light-20: #6e639f;
    --secondary-dark-00: #a6a4d5;
    --secondary-dark-10: #bfc1e2;
    --secondary-dark-20: #d7d9ee;
    --neutral-light-00: #5C606D;
    --neutral-light-10: #41444B;
    --neutral-light-20: #292A2F;
    --neutral-dark-00: #9094A0;
    --neutral-dark-10: #D9DADE;
    --neutral-dark-20: #F7F8F8;
    --bg-color: #ffffff;
    --text-color: #212026;
    --black: #212026;
    --white: #ffffff;
    --gradient: linear-gradient(300deg, #938dc7 0%, #0a66bd 60%, #57cfff 100%);
    --gradient-color: #0a66bd;
    --highlight-color: #57cfff;
    }
