@charset "UTF-8";
@import url('fonts-size-root.css');

@font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        src: url(../fonts/Roboto-Regular.woff2) format('woff2');
    }

@font-face {
        font-family: 'Roboto-bold';
        font-weight: 700;
        src: url(../fonts/Roboto-Bold.woff2) format('woff2');
    }

@font-face {
        font-family: 'Roboto-black';
        font-weight: 900;
        src: url(../fonts/Roboto-Black.woff2) format('woff2');
    }


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
#wrapper{
    transition: 1s;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background-color: var(--bg-color);
    color: var(--text-color);
}

h1{
    font-size: var(--size-h1);
    font-family: 'Roboto-black', Verdana, Geneva, Tahoma, sans-serif;
}
.textoDegradado {
    color: var(--primary-light-00);
}
    @supports (
        (-webkit-background-clip: text) or (-webkit-text-fill-color: transparent)
      ) {
        .textoDegradado {
          background: var(--gradient);
          background-size: contain;
          background-repeat: repeat;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }


h2{
    font-size: var(--size-h2);
    font-family: 'Roboto-bold', Verdana, Geneva, Tahoma, sans-serif; 
}
h3{
    font-size: var(--size-h3);
    font-family: 'Roboto-bold', Verdana, Geneva, Tahoma, sans-serif; 
}
h4{
    font-size: var(--size-h4);
    font-family: 'Roboto-bold', Verdana, Geneva, Tahoma, sans-serif; 
}
h5{
    font-size: var(--size-h5);
    font-family: 'Roboto-bold', Verdana, Geneva, Tahoma, sans-serif; 
}
p, body{
    font-size: var(--size-p);
    font-family: 'Roboto', Verdana, Geneva, Tahoma, sans-serif; 
    line-height: 1.4;
}
a{
    text-decoration: none;
    color: var(--text-color);
    font-family: 'Roboto', Verdana, Geneva, Tahoma, sans-serif; 
}

::-webkit-scrollbar {
    width: 16px;
}
::-webkit-scrollbar-thumb {
    background-image: var(--gradient);
    border-radius: 10px;
    border: 3px solid var(--bg-color);
}
::-webkit-scrollbar-track {
    background-color: var(--bg-color);
}

header{
    transition: 0.5s;
    background-color: var(--bg-color);
    width: 100%;
    height: 70px;
    padding: 10px 30px;
    position: absolute;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 40px;
}
.black{
    font-family: 'Roboto-black', Verdana, Geneva, Tahoma, sans-serif;
}
nav{
    display: flex;
    gap: 30px;
    font-size: var(--size-p);
}

nav :hover{
color: var(--primary-light-10);
}

#selectorColores {
    transition: 0.5s;
    background-color: var(--bg-color);
    position: fixed;
    top: 14px;
    right: 20px;
    display: flex;
    padding: 8px 16px;
    gap: 20px;
    border: 2px solid var(--primary-dark-20);
    border-radius: 0 26px 0 26px;
}
#iconoColor {
    -webkit-mask: url(/images/color.svg) no-repeat 50% 50%;
    mask: url(/images/color.svg) no-repeat 50% 50%;
}
#iconoDark {
    -webkit-mask: url(/images/luna.svg) no-repeat 50% 50%;
    mask: url(/images/luna.svg) no-repeat 50% 50%;
}
#iconoLight {
    -webkit-mask: url(/images/sol.svg) no-repeat 50% 50%;
    mask: url(/images/sol.svg) no-repeat 50% 50%;
}

.icono-svg {
    height: 24px;
    width: 24px;
    background-color: var(--neutral-light-10);
}

.icono-svg:hover {
    cursor: pointer;
    background-image: var(--gradient);
}
.ocultar {
    display: none;
}

#slider{
    background-image: var(--gradient);
    background-color: var(--gradient-color);
    min-height: 100vh;
    padding: 10px;
    padding-top: 80px;
 color: var(--bg-color);
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-content: center;
 overflow: hidden;
}

.img-portfolio{
    overflow-x: scroll;
    cursor: grab;
}

.centrado{
    text-align: center;
    margin: 0 auto;
}





@keyframes ampliar-rebote {
    0% {
        transform: scale(10%);
    }
    70% {
        transform: scale(150%);
    }
    100% {
        transform: scale(100%);
    }
}

.animate-movimiento-rebote {
    animation: ampliar-rebote 0.6s ease-in-out;
}
