@charset "UTF-8";
@import url('fonts-size-root.css');

@font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        src: url(../fonts/Roboto-Regular.woff2) format('woff2');
    }

@font-face {
        font-family: 'Roboto-bold';
        font-weight: 700;
        src: url(../fonts/Roboto-Bold.woff2) format('woff2');
    }

@font-face {
        font-family: 'Roboto-black';
        font-weight: 900;
        src: url(../fonts/Roboto-Black.woff2) format('woff2');
    }


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
#wrapper{
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background-color: var(--black);
    color: var(--white);
}

h1{
    font-size: var(--size-h1);
    font-family: 'Roboto-black', Verdana, Geneva, Tahoma, sans-serif;
    color: var(--primary-light-00);
}
    @supports (
        (-webkit-background-clip: text) or (-webkit-text-fill-color: transparent)
      ) {
        h1 {
          background: var(--gradient);
          background-size: contain;
          background-repeat: repeat;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }


h2{
    font-size: var(--size-h2);
    font-family: 'Roboto-bold', Verdana, Geneva, Tahoma, sans-serif; 
}
h3{
    font-size: var(--size-h3);
    font-family: 'Roboto-bold', Verdana, Geneva, Tahoma, sans-serif; 
}
h4{
    font-size: var(--size-h4);
    font-family: 'Roboto-bold', Verdana, Geneva, Tahoma, sans-serif; 
}
h5{
    font-size: var(--size-h5);
    font-family: 'Roboto-bold', Verdana, Geneva, Tahoma, sans-serif; 
}
p, body{
    font-size: var(--size-p);
    font-family: 'Roboto', Verdana, Geneva, Tahoma, sans-serif; 
    line-height: 1.4;
}
a{
    text-decoration: none;
    color: var(--white);
    font-family: 'Roboto', Verdana, Geneva, Tahoma, sans-serif; 
}

::-webkit-scrollbar {
    width: 16px;
}
::-webkit-scrollbar-thumb {
    background-image: var(--gradient);
    border-radius: 10px;
    border: 3px solid var(--black);
}
::-webkit-scrollbar-track {
    background-color: var(--black);
}

header{
    background-color: var(--black);
    width: 100%;
    padding: 20px;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav{
    display: flex;
    gap: 20px;
    font-size: var(--size-h5);
}

nav :hover{
color: var(--primary-light-10);
}

#iconoColor {
    -webkit-mask: url(/images/color.svg) no-repeat 50% 50%;
    mask: url(/images/color.svg) no-repeat 50% 50%;
}

.icono-svg {
    height: 24px;
    width: 24px;
    transform: scale(1.5);
    background-color: var(--neutral-light-10);

}

.icono-svg:hover {
    cursor: pointer;
    background-image: var(--gradient);
}

#slider{
    background-image: var(--gradient);
    background-color: var(--gradient-color);
    min-height: 100vh;
    padding: 10px;
    padding-top: 100px;
 color: var(--black);
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-content: center;
}

.img-portfolio{
    background-color: var(--black);
    overflow-x: scroll;
    cursor: grab;
}

.centrado{
    text-align: center;
    margin: 0 auto;
}